
/*Remove Google Maps attribution, needed since we are tilling displays (sorry)*/

.gmnoprint a, .gmnoprint span {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
#GMapsID div div a div img{
    display:none;
}
.gm-style-cc:last-child {
    display: none !important;
}
.gm-style-cc { display:none;
}
img[src="http://maps.gstatic.com/mapfiles/google_white.png"] {
    display: none; 
}
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white2_hdpi.png"] {
    display: none; 
}
img[src="https://maps.gstatic.com/mapfiles/api-3/images/google_white2.png"] {
    display: none; 
}
